#=======================#
#     Model Config      #
#=======================#
MODEL="Qwen3.5-27B"

#=======================#
#   Embedding Service   #
#=======================#

# Note: 通过 xinference 提供自定义的360Zhinao-search向量化模型(https://huggingface.co/qihoo360/360Zhinao-search)
# 模型变更请重新生成知识库

EMBEDDING_OPENAI_URL="https://api.siliconflow.cn/v1"
EMBEDDING_API_KEY="YOUR_API_KEY"
EMBEDDING_MODEL="Qwen/Qwen3-Embedding-0.6B"
EMBEDDING_DIMENSIONS=1024

#=======================#
#     Rerank Config     #
#=======================#

RERANK_URL="https://dashscope.aliyuncs.com/compatible-api/v1/reranks"
RERANK_API_KEY="YOUR_API_KEY"
RERANK_MODEL="qwen3-rerank"
RERANK_ENABLED=false

#=======================#
#     Vector Store      #
#=======================#

# Note: 使用qdrant作为向量数据库

QDRANT_LOCATION="http://localhost:6333"

#=======================#
#   Retriever Config    #
#=======================#

# Note: 默认的文档数量及分数阈值

TOP_K=5
SCORE_THRESHOLD=0.65
PRECISION_THRESHOLD=0.88

#=======================#
#       Database        #
#=======================#

# Note: 默认使用的是PostgreSQL数据库

POSTGRESQL_HOST=localhost
POSTGRESQL_DATABASE=chat2rag
POSTGRESQL_PORT=5432
POSTGRESQL_PASSWORD=your_password

#=======================#
#    Funcion Config     #
#=======================#

# Note: 网络搜索服务(https://serper.dev/)
SERPERDEV_API_KEY="YOUR_SERPERDEV_API_KEY"

#=======================#
#       TELEMETRY       #
#=======================#

# Note: 是否开启Telemetry，开启后会在 http://localhost:6006/ 上看到统计信息，用于改进产品。
# 开启这个会大幅降低性能，如果不需要统计信息，请关闭。

TELEMETRY_ENABLED=False

#=======================#
#        Paths          #
#=======================#

# Note: 部署时，将数据挂载的目录，维护容器数据的可持久性

DATA_PATH="../data"
LOG_PATH="../logs"
MIGRATIONS_PATH="../migrations"
UPLOADS_PATH="../uploads"
DOCLING_ARTIFACTS_PATH="C:/Users/Administrator/code/Chat2RAG/models" # Note: docling OCR模型路径，首次运行会自动下载模型到此目录
MODEL_PATH="../models"

#=======================#
#       Strategy        #
#=======================#

IS_FLOW=False
COMMAND_LLM_FALLBACK=False

#=======================#
#   Multimodal Config   #
#=======================#

MULTIMODAL_API_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
MULTIMODAL_API_KEY="YOUR_API_KEY"
MULTIMODAL_MODEL="qwen3-vl-235b-a22b-instruct"

#=======================#
#      TTS Config       #
#=======================#

DASHSCOPE_API_KEY="YOUR_API_KEY"
