#=======================#
#       Dev Cache       #
#=======================#
build
**egg-info
.venv
.vscode
.env
temp*
**_pycache__
.pytest_cache


#=======================#
#       Logs file       #
#=======================#
logs


#=======================#
#     Deploy files      #
#=======================#
**.tar
**.zip
deploy/


#=======================#
#      Data files       #
#=======================#
data/