#=======================#
#       Dev Cache       #
#=======================#
build
**egg-info
.venv
.vscode
.env
tmp
temp*
**_pycache__
.pytest_cache
models
audio_chat
.continue

#=======================#
#       Logs file       #
#=======================#
logs

#=======================#
#     Deploy files      #
#=======================#
**.tar
**.zip
deploy/

#=======================#
#      Data files       #
#=======================#
data/
**/versions
migrations**
uploads

#=======================#
#      Evaluation       #
#=======================#
evaluation/rag/results
